{{>/layout/post-header}}

<div class="container">
    <div class="my_post_list">

        <!-- 게시글 시작 -->
        <div class="my_post_list_item">
            <div class="my_post_list_item_left">
                <div class="my_fakeimg my_ellipsis">Fake Image</div>
            </div>
            <div class="my_post_list_item_right my_ellipsis">
                <div class="my_text_title">제목제목제목제목제목제목제목제목제목제목제목제목제목제목
                </div>
                <div class="my_text_body_sm">날짜날짜날짜날짜날짜날짜날짜날짜날짜날짜날짜날짜날짜</div>
                <div class="my_mt_md_1">
                    <a href="/user/1/post/1" class="my_success_btn">Read More</a>
                </div>
            </div>
        </div>
        <!-- 게시글 끝 -->

    </div>

</div>

{{>/layout/footer}}